*,
*:before,
*:after {
  box-sizing: border-box;
}

.app__wrapper {
  display: grid;
  width: 1000px;
  margin: 0 auto;
  grid-template-columns: 1fr 4fr 100px;
  grid-template-areas: "s c f"
}

.content {
  grid-area: c;
}
